{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "FUNCTIONS_EXTENSION_VERSION": "~4",

    "BAB_DB_CONNECTION_STRING": "mongodb://localhost:27017/bab",
    "BAB_PUBLIC_URL": "http://localhost:7071",
    "BAB_PROXY": "true",
    "BAB_ENFORCE_REDIRECT_URI": "true",
    "BAB_SECURITY_TEST": "false",
    "BAB_LOG_JSON": "false"
  }
}
